{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}

<h1>Buscar</h1>
<br/>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}"">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'inventarios' %}">Productos Terminados</a></li>
    <li class="breadcrumb-item active" aria-current="page">Buscar Producto</li>
  </ol>
</nav>

<form class="d-flex" role="search" method="POST">
  {% csrf_token %}
  <input
     class="form-control me-2"
     type="search"
     placeholder="Search"
     name="busqueda"
     required aria-label="Search"
  >
  <button class="btn btn-outline-success" type="submit">Search</button>
 </form>
 <br/>
 
{% if busqueda %}
  <h2>Resultados para: {{ busqueda }}</h2>
    {% if resultados %}
      
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Creado en</th>
              <th scope="col">Codigo</th>
              <th scope="col">Medida</th>
              <th scope="col">Clase</th>
              <th scope="col">Unidad</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Valor</th>
              <th scope="col">Lista Medidas</th>
            </tr>
          </thead>
          <tbody>{% for resultado in resultados %}
            <tr>
              <td>{{ resultado.id }}</td>
              <td>{{ resultado.creado_en }}</td>
              <td>{{ resultado.codigo }}</td>
              <td>{{ resultado.medida }}</td>
              <td>{{ resultado.clase }}</td>
              <td>{{ resultado.unidad }}</td>
              <td>{{ resultado.descripcion }}</td>
              <td>{{ resultado.valor }}</td>
              <td>{{ resultado.lista_medidas }}</td>
            </tr>

          </tbody>{% endfor %}
        </table>
        <br/>
      
    {% else %}
      <p>No se encontraron resultados</p>
    {% endif %}
{% endif %}


<br/>
<a href="{% url 'inventarios' %}" class="btn btn-primary">Regresar</a>
<br/>
<!-- TABLA -->
<!-- SI EL USUARIO NO ESTA LOGGEADO -->
{% else %}
<div class='col-md-6 offset-md-3'>
    <h1>Identificarse</h1>
    <br/>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" name="usuario" placeholder="Usuario" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Iniciar sesion</button>
      </form>

</div>

{% endif %}

{% endblock %}